In [1]:
import pandas as pd

In [3]:
#Temperature data
GitURL_TempAdam = 'https://raw.githubusercontent.com/StevenPeutz/MDA_HeatWaveAnalysis/master/dataset/amsterdamdailytemperature.csv'
#GitURL_TempRdam = '..'
#GitURL_TempBru = '..'
#GitURL_TempAnt = '..'

In [4]:
df_TempAdam = pd.read_csv(GitURL_TempAdam)

In [6]:
df_TempAdam.head()

   YEAR  MO  DY   T2M  T2MDEW  T2MWET    TS  T2M_RANGE  T2M_MAX  T2M_MIN
0  1996   1   1 -0.46   -1.49   -0.97  1.19       2.34     0.73    -1.61
1  1996   1   2 -2.35   -4.08   -3.21 -0.42       3.02    -0.98    -3.99
2  1996   1   3 -3.20   -4.73   -3.96 -1.34       4.02    -0.54    -4.56
3  1996   1   4 -2.01   -2.92   -2.46 -0.48       5.84     1.38    -4.46
4  1996   1   5 -3.10   -4.85   -3.98 -1.30       4.47    -0.81    -5.28